:root {
	&[contentmode="wizard"] {
		.disable-in-wizard {
			pointer-events: none;
			opacity: .5;

			&#global-appearance-container {
				max-height: 100px;
				mask-image: linear-gradient(to bottom, black, transparent);
			}
		}

		.show-in-wizard {
			display: flex;
		}

		.content:not([data-page-container]) {
			padding-block-end: 91px !important;
		}
	}

	&:not([contentmode="wizard"]) {
		.show-in-wizard {
			display: none;
		}
	}
}

#window {
	width: 1160px;
	height: 710px;
}

.content {
	&:not([data-page-container]) {
		padding: var(--inner-padding);
	}
}

h4 {
	.about-flag {
		
		
		
		
		
		
		
		
		
		
		
		&::before {
			
			
			
			
			
			
			
		}

		&:hover {
			
		}

		.ripple {
			
		}
	}
}

.people-picture {
	appearance: none;
	display: flex;
	position: relative;
	width: 58px;
	aspect-ratio: 1 / 1;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin: 4px 0px !important;

	&:not([disabled]) {
		cursor: pointer;
	}

	&.color {
		&.ripple-enabled {
			.ripple {
				background: color-mix(in srgb, var(--secondary-color, var(--primary-color)) 40%, transparent);




			}
		}
	}

	&:checked {
		outline: 2px solid var(--secondary-color, var(--primary-color));
		outline-offset: -2px;

		&::before,
		&::after {
			content: "";
			
			
			
		}

		&::before {
			
			
			
			
			
		}

		&::after {
			
			mask-size: 32px 32px;
			
			
			
		}
	}
}

.banner {
	position: relative;
	background: url("chrome://userchrome/content/windows/gsettings/imgs/banner.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
	list-style-image: url("chrome://userchrome/content/windows/gsettings/imgs/logo.svg");
	fill: AccentColor;
	-moz-context-properties: fill, fill-opacity;
	padding: var(--inner-padding);
	align-items: center;
	font-weight: 500;
	gap: 32px;
	
	image {
		transition: fill 320ms;

		&:hover {
			fill: #209f43;
		}
	}

	> image {
		filter: drop-shadow(0px 1px 2px rgba(0,0,0,.5));
	}
}

#ntp-visual-styles-grid {
	/*> [for="chrome-6"],
	> [for="chrome-25"],
	> [for="chrome-68"] {
		display: none;
	}*/

	.link.chrome-appearance {
		height: 163px;
	}
}

.chrome-appearance  {
	.radio-parent {
		margin-inline-start: 0 !important;
	}
}

#profile-pic-content {
	&[profile-pic-button="false"] {
		pointer-events: none;
		opacity: .5;
	}
}

.profile-mode-option {
	display: none;
}

#card-avatar {
	&:not([profile-pic-mode="0"], [profile-pic-mode="2"]) {
		padding-block-end: 19px;
	}

	> .item:nth-child(2) {
		display: none;
	}


	&[profile-pic-mode="1"] {
		> .item:nth-child(2) {
			display: flex;
		}
	
		#profile-pictures-grid {
			display: grid;
		}
	}

	&[profile-pic-mode="0"],
	&[profile-pic-mode="2"] {
		> .item:nth-child(1) {
			border-bottom: 0;
		}
	}

	&[profile-pic-mode="3"] {
		> .item:nth-child(2) {
			display: flex;
		}
	
		#profile-pictures-path {
			display: flex;
		}
	}
}

#gk_version {
	position: relative;
	overflow: hidden;
	padding-inline: 8px;
	border-radius: 9999px;
	width: fit-content;
	transition: background-color 155ms;

	&:not([disabled]) {
		cursor: pointer;

		&:hover,
		&:focus-visible {
			background: rgba(153, 153, 153, .2);
		}

		.ripple {
			background: rgba(153, 153, 153, .4);
		}
	}
}


#chrthemes-list {
	
	
	
	
	
	
}
.chrthemewrapper {
	
	
}
.item {
	&.app {
		padding-block: 6px;

		image {
			width: 48px;
			height: 48px;
			margin-inline-start: -8px;
		}

		label {
			margin-inline-start: 8px;
		}
	}

	&.chrtheme {
		
		
		
		
	
		.banner {
			padding: 0 !important;
			margin-inline: -19px;
	
			height: 150px;
			background-color: rgb(0, 0, 0, 10%);
		}
	
		.icon {
			margin-inline-end: 16px;
			width: 48px;
			height: 48px;
	
			&[src="chrome://userchrome/content/windows/gsettings/imgs/logo.svg"] {
				filter: saturate(0);
				fill: #209f43;
				-moz-context-properties: fill, fill-opacity;
				opacity: .5;
			}
		}
	
		.name, .description {
			
			
			
			
			
		}
	
		.version {
			
			
			
			
			
			
			
			
			
			
			
		}	
	}
}

@media not (-moz-platform: windows) {
	#os-ux-button,
	#os-comp-button {
		display: none;
	}
}

.icon-picker {
	height: fit-content;
	align-items: center;

	.button {
		min-width: 0;
		min-height: 0;
		padding: 8px;
		box-sizing: content-box;
	}

	image {
		width: 100%;
		height: 100%;
	}

	label {
		white-space: nowrap;
	}

	&.favicon {
		.button {
			width: 16px;
			height: 16px;
		}
	}

	&.icon {
		.button {
			width: 128px;
			height: 128px;
		}
	}
}

#app-name {
	&::before {
		content: "\00a0";
	}
}

.modal[data-modal="editApp_modal"] {
	&[data-app="null"] {
		#deleteBtn,
		#OKBtn {
			display: none;
		}
	}
	&:not([data-app="null"]) {
		#createBtn {
			display: none;
		}
	}
}

// FIXME: Below code was removed by nabrious in the pre-MPL2 continuity

.people-picture {
	&:checked {
		outline-offset: 2px;
	}
}

.item.chrtheme {
	.banner {
		&:not([style="background-image: url()"]) {
			height: 150px;
		}
	}
}