& {
	--tab-glare-opacity: 0.7;
	--tab-glare-color: white;
	--tab-glare: linear-gradient(
		90deg,
		color-mix(
			in srgb,
			var(--tab-glare-color) 40%,
			transparent
		) 30%,
		var(--tab-glare-color) 50%,
		color-mix(
			in srgb,
			var(--tab-glare-color) 40%,
			transparent
		) 70%
	);

	--newtab-width: 34px;
	--newtab-normal: var(--inactive-tab-background-color);
	--newtab-hot: rgb(211, 217, 225, 0.8);
	--newtab-active: rgb(211, 217, 225, 0.4);

	&[customthemecolorizetabglare="true"] {
		/* bruni: This entire code takes care of custom themes support for tabs */
		
		&:-moz-lwtheme {
			&:not([lwtheme-id*="firefox-compact"]) {
				&:not([lwtheme-id="#{$gtkplus}"]) {
					--tab-glare-color: var(--tabbrowser-tab-color);
					--tab-glare-opacity: 1;
				}
			}
		}
	}
}

.tabbrowser-tab {
	.tab-stack {
		&::after {
			
		}
	}
	/* bruni: We are changing the favicon of about pages like
		this so we can have era-specific icons. */
	&:not([busy]) {
		&[image="chrome://global/skin/icons/settings.svg"]
		{
			.tab-label {
				&::before {
					content: url(assets/img/chrome-21/tabbar/IDR_SETTINGS_FAVICON.png);
				}
			}
		}
		&[image="chrome://mozapps/skin/extensions/extension.svg"]
		{
			.tab-label {
				&::before {
					content: url(assets/img/chrome-21/tabbar/IDR_EXTENSIONS_FAVICON.png);
				}
			}
		}
	}

    &:not([visuallyselected]) {
		&:not(:first-of-type) {
            .tab-content {
                &::before {
                    background: url(assets/img/chrome-21/tabbar/tab_inactive2_left.png)
                        no-repeat;
                    background-position: 0 2px;
                }
            }
            .tab-stack {
                &::before {
                    mask-image: url(assets/img/chrome-21/tabbar/tab_inactive2_alpha_left.png);
                }
            }
            .tab-glare-left {
                mask-image: url(assets/img/chrome-21/tabbar/tab_inactive2_alpha_left.png);
                mask-position-y: -1px;
                width: 12px;
            }
        }

		.tab-content {
			&::before {
				background: url(assets/img/chrome-21/tabbar/tab_inactive_left.png)
					no-repeat;
				
			}
			&::after {
				background: url(assets/img/chrome-21/tabbar/tab_inactive_right.png)
					no-repeat;
				
			}
		}
		
		.tab-context-line {
			&::before {
				
				
				
			}
		}
	}
	
	&[visuallyselected] {
		.tab-content {
			&::before {
				

				
			}
			&::after {
				
				
				
			}
		}

		.tab-context-line {
			&::before {
				
				
				
			}
		}
	}
}

.tab-glare-left {
    mask-image: url(assets/img/chrome-21/tabbar/tab_alpha_left.png);
}
.tab-glare-right {
	
    mask-image: url(assets/img/chrome-21/tabbar/tab_alpha_right.png);
}



// FIXME: Below code was removed by nabrious in the pre-MPL2 continuity

& {
    --tab-sides-width: 21px;

	.tabbrowser-tab {
		&:not([visuallyselected="true"]) {
			--tab-sides-width: 15px;

			&:not(:first-of-type) {
				.tab-content {
					&::before {
						background: url(assets/img/chrome-21/tabbar/tab_inactive2_left.png)
							no-repeat;
						background-position: 0 0px;
					}
				}
	
				.tab-stack {
					&::before {
						mask-image: url(assets/img/chrome-21/tabbar/tab_inactive2_alpha_left.png);
					}
				}
	
				.tab-glare-left {
					mask-image: url(assets/img/chrome-21/tabbar/tab_inactive2_alpha_left.png);
				}
			}

			.tab-content {
				&::before,
				&::after {
					bottom: -2px;
				}

				&::before {
					background: url(assets/img/chrome-21/tabbar/tab_inactive_left.png)
								no-repeat;
					left: -14px;
				}
			}

			.tab-stack {
				&::before {
					mask-image: url(assets/img/chrome-21/tabbar/tab_alpha_left.png);
				}
	
				&::after {
					mask-image: url(assets/img/chrome-21/tabbar/tab_alpha_right.png);
				}
			}
	
			.tab-content {
				&::after {
					background: url(assets/img/chrome-21/tabbar/tab_inactive_right.png)
								no-repeat;
				}
			}
	
			.tab-context-line {
				&::before {
					background: url(assets/img/chrome-21/tabbar/tab_inactive_center.png)
								top;
				}
			}
		}

		&[visuallyselected="true"] {
			position: relative;
			z-index: 1000;
	
			.tab-content {
				&::before {
					background: url(assets/img/chrome-21/tabbar/tab_active_left.png)
								no-repeat;

					/* bruni: This is a very dumb temporary fix for
							  making the left side not appear very
							  opaque when compared to the texture
							  from the right side of the tab.*/
					opacity: 0.5;
				}
	
				&::after {
					background: url(assets/img/chrome-21/tabbar/tab_active_right.png)
								no-repeat;
				}
			}
	
			.tab-stack {

				
				&::before {
					mask-image: url(assets/img/chrome-21/tabbar/tab_alpha_left.png);
					left: calc(var(--tab-sides-width) * -1 + 6px);
					mask-position: 1px 0px;
				}
	
				&::after {
					mask-image: url(assets/img/chrome-21/tabbar/tab_alpha_right.png);
				}
			}
	
			.tab-context-line {
				&::before {
					background: url(assets/img/chrome-21/tabbar/tab_active_center.png)
								top;
				}
			}
		}

		.tab-stack {
			&::before,
			&::after {
				bottom: 0px;

				width: 15px;
			}
		}

		.tab-content {
			border-left: 13px solid transparent !important;
		}
	}

	.tab-glare-left {
		mask-image: url(assets/img/chrome-21/tabbar/tab_alpha_left.png);
	}

	.tab-glare-right {
		mask-image: url(assets/img/chrome-21/tabbar/tab_alpha_right.png);
	}
}