& {
	--toolbar-start-end-padding: 4px;

	--toolbarbutton-border-radius: 3px !important;
	
	--toolbarbutton-height: 27px;
	--toolbarbutton-icon-drop-shadow: drop-shadow(0 1px 0 rgba(255, 255, 255, .3));

	

	:not(.widget-overflow-list) {
		> .toolbarbutton-1:not(
			#fxa-toolbar-menu-button,
			#tabs-newtab-button,
			#new-tab-button,
			.subviewbutton
		) {
			

			&::before {
				background: rgba(255,255,255,1) !important;
				border-radius: var(--toolbarbutton-border-radius) !important;
			}

			&:not([disabled]) {
				&:hover {
					border-top-color: color-mix(
						in srgb,
						var(--toolbarbutton-border-color-hot, var(--default-toolbarbutton-border-color-hot)) 30%,
						white
					) !important;
					border-bottom-color: color-mix(
						in srgb,
						var(--toolbarbutton-border-color-hot, var(--default-toolbarbutton-border-color-hot)) 80%,
						black
					) !important;
					box-shadow: 0 1px 0 0 rgb(0, 0, 0, 14%),
								inset 0 1px 2px rgb(255, 255, 255, 75%) !important;

					&::before {
						opacity: .3;
					}
				}

				&:active,
				&[open] {
					&::before {
						content: unset;
					}

					background: linear-gradient(
						to bottom,
						rgb(0,0,0,.4),
						rgb(0,0,0,.1) 1%,
					) !important;
					
					
					
					
					
					
				}
			}
			&[disabled] {
				.toolbarbutton-icon,
				image:first-of-type {
					fill: color-mix(
						in srgb,
						var(--toolbarbutton-icon-color, var(--default-toolbarbutton-icon-color)) 25%,
						transparent
					) !important;
				}
			}
			&#reload-button,
			&#home-button {
				.toolbarbutton-icon {
					margin-bottom: 0 !important;
				}
			}
		}
	}

	//&:not([personalbar="newtab"]) {
		#PersonalToolbar {
			> * {
				margin-top: -5px !important;
				margin-bottom: 1px !important;
			}
		}
	//}

	#PersonalToolbar {
		.bookmark-item:not(.menu-iconic, .menuitem-iconic, [data-l10n-id="places-empty-bookmarks-folder"]) {
			
			
			border-radius: var(--toolbarbutton-border-radius) !important;
			box-shadow: var(--personal-toolbar-item-shadow, var(--default-personal-toolbar-item-shadow));
			
			
			
		
			&:hover {
				
				
				
				
				color: var(--bookmark-item-hover-color, var(--default-bookmark-item-hover-color)) !important;
				
			}
		}
	}


	/*
		GTK+ SysTheme - exclusive toolbarbutton styling
	*/
	&[gksystheme="gtk"]:not([lwtheme], [gkchrthemed], [geckium-sixtyeight]) {
		:not(.widget-overflow-list)
		> .toolbarbutton-1:not(
			#fxa-toolbar-menu-button,
			#tabs-newtab-button,
			#new-tab-button,
			.subviewbutton) {
			box-shadow: unset !important;

			&:not([disabled]) {
				&:hover {
					box-shadow: unset !important;
				}
				&:active,
				&[open] {
					box-shadow: unset !important;
				}
			}
		}
	}
	&[gksystheme="gtk"]:not([lwtheme], [gkchrthemed], [geckium-fortyseven]) {
		#PanelUI-menu-button,
		#chrome-button {
			width: 33px !important;
		}
	}
}