@-moz-document url-prefix(about:preferences),
				url-prefix(about:config),
				url-prefix(about:addons),
			   url-prefix(chrome://browser/content/preferences/dialogs) {
	checkbox,
	radio {
		

		&:not([disabled]):hover {
			.checkbox-check,
			.radio-check {
				
				
				

				
				


			}

			.checkbox-label,
			.radio-label {
				
			}
		}
		&:not([disabled]):active {
			.checkbox-check,
			.radio-check {
				

				
				
				
				
				
			}
		}
		&[focused] .radio-check {
			
		}
	}

	.checkbox-check,
	.radio-check,
	input[type="radio"] {
		
		
		

		
		
		
		
	}
	.checkbox-check {
		
		
	}
	.radio-check,
	input[type="radio"] {
		
		
	}
	.checkbox-label,
	.radio-label {
		font-size: 9pt !important;
		
	}

	.checkbox-check[checked] {
		background-image: url(chrome://userchrome/content/assets/img/pages/check.png),
			linear-gradient(
				to top,
				#e0e0e0,
				#f0f0f0
			) !important;
		
		
		
	}
	.radio-check[selected],
	input[type="radio"]:checked {
		background-image: url(chrome://userchrome/content/assets/img/pages/radio.png),
			linear-gradient(
				to top,
				#e0e0e0,
				#f0f0f0
			) !important;
		
		
		
	}
}