//NOTE: This border style ignores native titlebars

// Change offsets for Incognito/pfp when window's maximised
&[sizemode="maximized"],
&[sizemode="fullscreen"] {
	#fxa-toolbar-menu-button,
	#private-browsing-indicator-with-label {
		height: calc(var(--tab-height) - 9px);

		.toolbarbutton-badge-stack,
		.private-browsing-indicator-icon {
			margin-block-end: -4px; //offset for maximised window
		}
	}
}

& {
    --titlebar-border-radius: 3px;
	@media (-moz-platform: macos) {
		--titlebar-border-radius: 9px; //Artificial minimum radii set by macOS's window manager
	}
	--tab-distance-from-top: 10px;
	--tab-distance-from-top-maximised: 3px;
	
	@import "../../../chrome-1/titlebar/tools/bodytitlebar";
	--titlebar-border-radii: var(--titlebar-border-radius) var(--titlebar-border-radius) 0 0;
	--theme-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}
	
// Visuals
&[windowtype="navigator:browser"] > body {
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}
// Use the custom titlebar background in Chromium OS's SysTheme
&[gksystheme="chromiumos"]:not([gkthemed], [gkchrthemed]) {
	&[windowtype="navigator:browser"] > body {
		background: #C3C3C4 !important;
	}
	&:-moz-window-inactive[windowtype="navigator:browser"] > body {
		background: #CDCDCE !important;
	}
	@media (-moz-platform: linux) {
		&[is117Plus][windowtype="navigator:browser"] > body,
		&[is117Plus]:-moz-window-inactive[windowtype="navigator:browser"] > body {
			background: rgba(255, 255, 255, 0.2) !important;
			@media (prefers-color-scheme: dark) {
				background: rgba(0, 0, 0, 0.2) !important;
			}
		}
	}
} // TODO: also apply when in theme with native titlebar

// Visuals: Maximised / Fullscreen
&[sizemode="maximized"],
&[sizemode="fullscreen"] {
	&[windowtype="navigator:browser"] > body {
		border: 0;
		border-radius: 0;
		box-shadow: unset;
	}

	&[gksystheme="chromiumos"]:not([gkthemed], [gkchrthemed])[windowtype="navigator:browser"] > body {
		background: black !important;
	}
}