.modal {
    
    
    
    
    
    

    &:not(.active) {
        
        
        

        .wrapper > .card {
            
            
            
        }
    }

    .wrapper {
        
        
        
        

        .card {
            
            

            @media (prefers-color-scheme: dark) {
                --header-text-color: rgb(255, 255, 255, 86%);
                --description-text-color: rgba(255, 255, 255, 0.6);
            }

            
            
            
            box-shadow: var(--elevation-24);

            .body {
                
                
                
            }

            .header {
                
                
                
                
                
                
                
            }
            .description {
                
                
                
                
            }
            .footer {
                
                
                
                
                
            }
        }
    }
}