:root {
	
	
	
	//--input-focus-color: var(--secondary-color, var(--primary-color));
	

	@media (prefers-color-scheme: dark) {
		--input-border-color: rgba(255, 255, 255, 18%);
		--input-placeholder-color: rgba(255, 255, 255, 50%);
		--helper-text-color: rgba(255, 255, 255, 60%);
	}
}

.input-parent {
	
	
	
	color: black;

	@media (prefers-color-scheme: dark) {
		color: white;
	}

	&.size-md .input {
		
	}

	&.input-error {
		
		
		
		

		@media (prefers-color-scheme: dark) {
			--input-border-color: rgb(207, 102, 121) !important;
			--input-placeholder-color: rgb(207, 102, 121) !important;
			--input-focus-color: rgb(207, 102, 121) !important;
			--helper-text-color: rgb(207, 102, 121) !important;
		}

		.input {
			&:focus-visible {
				border-color: var(--input-focus-color);

				+ .placeholder {
					color: var(--input-border-color);
				}
			}
		}
	}

	.input {
		
		
		
		
		
		
		
		
		
		cursor: text;

		&:focus-visible {
			
			border-color: var(--secondary-color, var(--primary-color));
			
		}

		&:focus-visible + .placeholder,
		&:valid + .placeholder {
			
			
			

			@media (prefers-color-scheme: dark) {
				background: #212121;
			}
		}

		&:focus-visible + .placeholder {
			color: var(--secondary-color, var(--primary-color));
		}
	}

	.placeholder {
		
		
		
		
		
		
		
		
		
		
		
		
	}

	.helper {
		
		
		
		
		
	}
}

.radio-parent {
	

	@media (prefers-color-scheme: dark) {
		
	}
	
	
	
	
	

	.radio {
		
		
		
		
		
		border-radius: 50%;
		flex-shrink: 0;
		

		&:checked {
			

			& + .gutter {
				

				&::before {
					
				}
			}
		}

		&:not([disabled="true"]) {
			&:hover + .gutter {
				
				
	
				@media (prefers-color-scheme: dark) {
					
				}
			}

			&:active + .gutter {
				
				
	
				@media (prefers-color-scheme: dark) {
					
				}
			}
		}
	}

	.gutter {
		
		
		
		
		
		
		
		
		border-radius: 50%;
		

		&::before {
			content: "";
			
			
			
			
			
			border-radius: 50%;
			
		}
	}

	.label {
		
		
	}
}

.checkbox-parent {
	--checkbox-border-color: rgba(0, 0, 0, 22%);

	@media (prefers-color-scheme: dark) {
		--checkbox-border-color: rgba(255, 255, 255, 22%);
	}

	
	
	
	

	&[disabled="true"] {
		
	}

	.checkbox {
		
		
		
		
		
		
		
		
		

		&:checked {
			background: var(--secondary-color, var(--primary-color));
			border-color: var(--secondary-color, var(--primary-color));

			+ .gutter {
				
	
				&::before {
					
					
					
					
					
					
					
					
					
					
				}
			}
		}

		&:not([disabled="true"]):hover + .gutter {
			background: rgba(0, 0, 0, 5%);
			

			@media (prefers-color-scheme: dark) {
				background: rgba(255, 255, 255, 0.1);
			}
		}
		&:not([disabled="true"]):active + .gutter {
			background: rgba(0, 0, 0, 12%);
			

			@media (prefers-color-scheme: dark) {
				background: rgba(255, 255, 255, 0.15);
			}
		}

		&[disabled="true"] {
			
		}

		&.light {
			

			&:checked {
				
			}
		}
	}

	.gutter {
		
		
		
		
		
		
		
		
		border-radius: 50%;
		
	}

	.label {
		
		
	}
}

.switch-parent {
	

	@media (prefers-color-scheme: dark) {
		--switch-inactive-background: rgb(255, 255, 255, 20%);
	}

	
	
	
	

	&[disabled="true"] {
		
	}

	.switch {
		
		
		
		
		
		
		
		

		& + .gutter {
			
			
			
			box-shadow: var(--elevation-1);
			border-radius: 50%;
			
			
			
			
			

			@media (prefers-color-scheme: dark) {
				background: hsl(0, 0, 80%);
			}
		}

		&:not([disabled="true"]) {
			&:hover + .gutter::before {
				background: rgba(0, 0, 0, 5%);
				
	
				@media (prefers-color-scheme: dark) {
					background: rgba(255, 255, 255, 0.1);
				}
			}

			&:active + .gutter::before {
				background: rgba(0, 0, 0, 12%);
	
				@media (prefers-color-scheme: dark) {
					background: rgba(255, 255, 255, 0.15);
				}
			}

			&:checked {
				background: color-mix(
					in srgb,
					var(--secondary-color, var(--primary-color)),
					transparent 80%
				);

				+ .gutter {
					
					background: var(--secondary-color, var(--primary-color));
				}
			}
		}

		&[disabled="true"] {
			
		}
	}

	.gutter::before {
		
		
		
		
		
		
		border-radius: 50%;
		
		
	}

	.label {
		
		
	}
}
