& {
	--titlebar-border-radius: 5px;
	@media (-moz-platform: macos) {
		--titlebar-border-radius: 10px; //Artificial minimum radii set by macOS's window manager (+the 1px border)
	}
}
//NOTE: This border style ignores native titlebars

// Behaviour: Normal
&:not([menubarvisible]) {
	#tabbrowser-arrowscrollbox {
		padding-top: 14px; //TODO: Get macOS Chrome's actual padding
	}
}

// Behaviour: Maximised / Fullscreen
&[sizemode="maximized"],
&[sizemode="fullscreen"] {
	&:not([menubarvisible]) {
		#tabbrowser-arrowscrollbox {
			padding-top: 0; //TODO: See how much padding changes between 'touching menubar' and normal states in MacOSX Chrome
		}
	}
}

// Visuals
&[windowtype="navigator:browser"] > body {
	background: var(--titlebar-active, var(--default-titlebar-active));
	&:-moz-window-inactive {
		background: var(--titlebar-inactive, var(--default-titlebar-inactive));
	}
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2); //FIXME: This is meant to be transparent outer-bordering
	border-radius: var(--titlebar-border-radius) var(--titlebar-border-radius) 0 0;
}

// Visuals: Maximised / Fullscreen
&[sizemode="maximized"],
&[sizemode="fullscreen"] {
	&[windowtype="navigator:browser"] > body {
		border: 0;
		border-radius: 0;
	}
} // TODO: Fix this being set on macOS



























//TODO: Simplify this and see how much can be shared in _titlebar.scss
&[lwtheme] {
	/* bruni: This entire code takes care of custom themes support for titlebar */

	&:not([lwtheme-id*="firefox-compact"], [lwtheme-id*="compact-light"]) {

			// Themes with image header/additional images
			&[chromemargin="0,0,0,0"] {
				&[windowtype="navigator:browser"] {
					> body::before {
						content: "";
						position: absolute;
						height: calc(64px + var(--tab-height) + var(--nav-bar-height) + var(--personal-toolbar-height));
						width: 100%;
						background-color: var(--lwt-accent-color);
						background-image: var(--lwt-additional-images);
						background-repeat: var(--lwt-background-tiling);
						background-position: var(--lwt-background-alignment);
						border-radius: var(--titlebar-border-radius) var(--titlebar-border-radius) 0 0;
					}

					&[sizemode="maximized"],
					&[sizemode="fullscreen"] {
						> body::before {
							border-radius: 0;
						}
					}
				}
			}

			&[style*="--lwt-background-alignment: right center"] {
				&[windowtype="navigator:browser"] > body {
					&::before {
						background-position-y: calc(50% - 9px);
					}
				}
			}

			&[sizemode="maximized"],
			&[sizemode="fullscreen"] {
				&[windowtype="navigator:browser"] > body {
					&::before {
						width: 100%;
						top: -9px;
						left: 0px;
					}
				}
			}

			&[lwtheme-image] {
				&[windowtype="navigator:browser"] > body {
					position: relative;

					&::before {
						background-image: var(--lwt-header-image, linear-gradient(transparent, transparent)), var(--lwt-additional-images) !important;
						background-repeat: no-repeat, var(--lwt-background-tiling);
						background-position: right top, var(--lwt-background-alignment);
						background-position-y: -9px;
						border-radius: var(--titlebar-border-radius) var(--titlebar-border-radius) 0 0;
					}
				}
			}
			
			// Themes without image header/additional images
			&:not([style*="--lwt-additional-images"]) {
				&:not([style*="--lwt-header-image"]) {
					--titlebar-buttonbox-pseudo-background: transparent;

					&:not([privatebrowsingmode="temporary"]),
					&[privatebrowsingmode="temporary"] {
						--titlebar-active: linear-gradient(
							to bottom,
							color-mix(
								in srgb,
								var(--lwt-accent-color) 90%,
								white
							),
							var(--lwt-accent-color) 40px
						) !important;
						--titlebar-inactive: linear-gradient(
							to bottom,
							color-mix(
								in srgb,
								var(--lwt-accent-color) 70%,
								white
							),
							color-mix(
								in srgb,
								var(--lwt-accent-color) 80%,
								white
							)
						) !important;
					}

					&[windowtype="navigator:browser"] > body {
						&::before {
							content: unset;
						}
					}
				}
			}
	}
	
	@media not (-moz-ev-native-controls-patch) {
		background: white !important;
	}
}
&[lwtheme-id*="firefox-compact-light"][chrtheme="true"] {
	--titlebar-active: var(--chrt-frame, var(--default-titlebar-active)) !important;
	--titlebar-inactive: var(--chrt-frame-inactive, var(--chrt-frame, var(--default-titlebar-inactive))) !important;

	&[chromemargin="0,0,0,0"] {
		&[windowtype="navigator:browser"] {
			> body {
				&::before {
					content: "";
					position: absolute;
					width: calc(100% - 2px);
					height: 100%;
					background: var(--chrt-theme-frame-overlay) no-repeat, var(--chrt-theme-frame) repeat no-repeat;
					border-radius: var(--titlebar-border-radius) var(--titlebar-border-radius) 0 0;
				}

				&:-moz-window-inactive {
					&::before {
						filter: contrast(.5) brightness(1.4);
					}
				}
			}
		}

		&[sizemode="maximized"],
		&[sizemode="fullscreen"] {
			&[windowtype="navigator:browser"] > body {
				&::before {
					width: 100%;
					top: 0px;
					left: 0px;
				}
			}
		}
	}
}






//TODO: Determine whether to move this to _titlebar.scss
//Windows quirks
@media (-moz-platform: windows) {
	//Stop non-composited titlebar elements from spontaneously appearing
	#titlebar {
		appearance: unset !important;
	}

	//Windows 10 + Native Controls Patch quirks
	@media (-moz-ev-native-controls-patch) {
		&#main-window {
			background: rgba(0,0,0,.002) !important;
		}
	}
}

//Linux quirks
@media (-moz-platform: linux) {
	/* In Linux, we don't have a surface spanning the entire browser window to draw our borders on.
	- GTK3's CSDs only cover the browser from top to bookmarks area
	- Shadows are out of the CSS's boundaries
	Therefore, to get the desired borders, we need to hijack body. */
	#navigator-toolbox-background {
		appearance: none !important; //FIXME: This causes the corner shadows to disappear
	}
	/* However, likely due to a Firefox bug, Firefox's underlying window surface
	uses the body's background itself, due to Mozilla setting its background
	to 'transparent', unless we use a minimum 0.002 alpha background on the window,
	so we need to override that. */
	&#main-window {
		background: rgba(0,0,0,.002) !important;
	}
}

//macOS quirks
@media (-moz-platform: macos) {
	&[windowtype="navigator:browser"] > body {
		// Corners on the bottom are rounded, as aforementioned, too
		border-radius: var(--titlebar-border-radius);
	}
}