// TODO: Fullscreen background when on macOS
& {
    //Disable top tab distance (TODO: fix on AERO)
    --tab-distance-from-top: 0;
    --tab-distance-from-top-maximised: 0;
}

// Permanently use offset'd Incognito/pfp measurements
#fxa-toolbar-menu-button,
#private-browsing-indicator-with-label {
    height: calc(var(--tab-height) - 9px);

    .toolbarbutton-badge-stack,
    .private-browsing-indicator-icon {
        margin-block-end: -4px;
    }
}


&[gktitnative="false"] {
	@import "../tools/vanillatitlebar";

    // Flatten the titlebar when on GTK+
    &[gksystheme="gtk"]:not([gkthemed], [gkchrthemed]) {
        #navigator-toolbox,
        #titlebar {
            background: ActiveCaption !important;
            &:-moz-window-inactive {
                background: InactiveCaption !important;
            }
        }
    }
}