& {
	//Classic (Default/Fallback)
	// Navbar
	--toolbarbutton-border-color-normal: transparent;
	--toolbarbutton-texture-hot: rgb(255, 255, 255, 80%);
	--toolbarbutton-border-color-hot: rgb(172, 172, 172);
	--toolbarbutton-shadow-normal: inset 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	--toolbarbutton-shadow-hot: 0 1px 0 0 rgba(255, 255, 255, 0.3);
	--toolbarbutton-inner-shadow-active: inner 0 1px 0 0 rgba(255, 255, 255, 1);
	--toolbarbutton-icon-drop-shadow: drop-shadow(0 1px 0 rgba(255, 255, 255, 1));
	--default-toolbarbutton-icon-fill: rgb(87, 102, 128);

    @media (prefers-color-scheme: dark) {
		// Navbar
		--default-toolbarbutton-icon-fill: rgb(166,177,196);
		--toolbarbutton-texture-hot: rgb(255, 255, 255, 15%);
		--toolbarbutton-shadow-hot: 0 1px 0 0 rgba(255, 255, 255, 0.2);
	}

	// GTK+
	&[gksystheme="gtk"]:not([lwtheme-id*="firefox-compact"], [lwtheme-id*="compact-light"]) {
		// Navbar
		--toolbarbutton-border-color-hot: unset;
	}

	// Mac OS X
	&[gksystheme="macosxs"],
	&[gksystheme="macoss"] {
		--macosx-window-color: #c3c3c3; // Cocoa has a base colour that it directly uses on the titlebar
		// Titlebar
		--default-titlebar-active: linear-gradient(
			to bottom,
			var(--macosx-window-color),
			color-mix(in srgb, black 15%, var(--macosx-window-color)) 40px
		);
		&:-moz-window-inactive {
			--macosx-window-color: #ededed;
		}
		--default-titlebar-inactive: var(--default-titlebar-active);

		// Tabs
		--default-inactive-tab-background: rgba(255, 255, 255, 0.3);
		--default-selected-tab-background: linear-gradient(
			to bottom,
			color-mix(in srgb, white 90%, color-mix(in srgb, white 25%, var(--macosx-window-color))),
			color-mix(in srgb, white 80%, var(--macosx-window-color))
		);
		--default-tab-glare: rgba(255, 255, 255, 0.3);
		--default-tabbrowser-tab-color: black;

		// Navbar
		--default-nav-bar: linear-gradient(
			to bottom,
			color-mix(in srgb, white 80%, var(--macosx-window-color)),
			color-mix(in srgb, black 2%, color-mix(in srgb, white 70%, var(--macosx-window-color)))
		);
		--default-inner-border-color: transparent;
		--toolbarbutton-border-color-normal: color-mix(in srgb, color-mix(in srgb, black 30%, var(--macosx-window-color)) 30%, transparent);
		--toolbarbutton-border-color-hot: rgba(0,0,0,.3); //TODO
		--toolbarbutton-border-color-active: rgb(171, 181, 203); //TODO
		--toolbarbutton-inner-border-color-normal: transparent;
		--toolbarbutton-inner-border-color-hot: transparent;
		--default-toolbarbutton-texture: linear-gradient(
			to bottom,
			color-mix(in srgb, white 90%, color-mix(in srgb, white 25%, var(--macosx-window-color))),
			color-mix(in srgb, white 80%, var(--macosx-window-color))
		);
		//TODO: https://github.com/google/google-toolbox-for-mac/blob/0f017ffd481523a46e1ef8c14db1e6a1e290ed3b/AppKit/GTMTheme.m#L401
		--default-toolbarbutton-icon-drop-shadow-color: transparent;
		--default-toolbarbutton-icon-fill: black;
		--default-navigation-buttons-separator: var(--toolbarbutton-border-color-normal);

		// Personal Toolbar (Bookmarks)
		--default-personal-toolbar: linear-gradient(
			to bottom,
			color-mix(in srgb, black 2%, color-mix(in srgb, white 70%, var(--macosx-window-color))),
			color-mix(in srgb, black 1%, color-mix(in srgb, white 80%, var(--macosx-window-color)))
		);
		--personal-toolbar-border-bottom: color-mix(in srgb, black 15%, var(--macosx-window-color));
		--default-bookmark-item-color: black;
		--bookmark-item-color-shadow: transparent;

		@media (prefers-color-scheme: dark) {
			// Titlebar
			--macosx-window-color: #3c3c3c;
			&:-moz-window-inactive {
				--macosx-window-color: #303030;
			}

			// Tabs
			--default-tab-glare: rgba(255, 255, 255, 0.04);
			--default-inactive-tab-background: rgba(82, 82, 82, 0.3);
			--default-selected-tab-background: linear-gradient(
				to bottom,
				color-mix(in srgb, white 10%, color-mix(in srgb, #464646 70%, var(--macosx-window-color))),
				color-mix(in srgb, white 5%, color-mix(in srgb, #464646 70%, var(--macosx-window-color)))
			);
			--default-tabbrowser-tab-color: white;

			// Navbar
			--default-nav-bar: linear-gradient(
				to bottom,
				color-mix(in srgb, white 5%, color-mix(in srgb, #464646 70%, var(--macosx-window-color))),
				color-mix(in srgb, black 8%, color-mix(in srgb, #464646 70%, var(--macosx-window-color)))
			);
			--default-inner-border-color: color-mix(in srgb, white 16%, transparent);
			--toolbarbutton-border-color-normal: color-mix(in srgb, color-mix(in srgb, black 30%, var(--macosx-window-color)) 30%, transparent);
			--toolbarbutton-border-color-hot: rgb(112, 112, 112); //TODO
			--toolbarbutton-border-color-active: rgb(136, 136, 136); //TODO
			--toolbarbutton-inner-border-color-normal: color-mix(in srgb, white 16%, transparent);
			--toolbarbutton-inner-border-color-hot: rgba(255, 255, 255, 0.2); //TODO
			--default-toolbarbutton-texture: linear-gradient(
				to bottom,
				color-mix(in srgb, white 10%, color-mix(in srgb, #464646 70%, var(--macosx-window-color))),
				color-mix(in srgb, white 5%, color-mix(in srgb, #464646 70%, var(--macosx-window-color)))
			);
			--default-toolbarbutton-icon-drop-shadow-color: transparent;
			--default-toolbarbutton-icon-fill: white;

			// Personal Toolbar
			--default-personal-toolbar: linear-gradient(
				to bottom,
				color-mix(in srgb, black 8%, color-mix(in srgb, #464646 70%, var(--macosx-window-color))),
				color-mix(in srgb, black 4%, color-mix(in srgb, white 5%, color-mix(in srgb, #464646 70%, var(--macosx-window-color))))
			);
			--personal-toolbar-border-bottom: color-mix(in srgb, black 15%, var(--macosx-window-color));
			--default-bookmark-item-color: white;
			--bookmark-item-color-shadow: transparent;
		}

		&[privatebrowsingmode="temporary"] {
			// References
			//  https://github.com/chromium/chromium/blob/4.0.212.1/chrome/browser/cocoa/browser_window_controller.mm#L1315
			//  https://github.com/google/google-toolbox-for-mac/blob/0f017ffd481523a46e1ef8c14db1e6a1e290ed3b/AppKit/GTMTheme.m#L370
			//  gradient is purely behaviour-parity-assumptions.
			// Titlebar
			--macosx-window-color: #536c8c;
			&:-moz-window-inactive {
				--macosx-window-color: #86898d;
			}
		}
	}

	// macOS (only the palette and titlebar change)
	&[gksystheme="macos"] {
		--macosx-window-color: #e5e5e5;
		// Titlebar
		--default-titlebar-active: linear-gradient(
			to bottom,
			var(--macosx-window-color),
			color-mix(in srgb, black 9%, var(--macosx-window-color)) 40px
		);
		&:-moz-window-inactive {
			--macosx-window-color: #f6f6f6;
		}
		--default-titlebar-inactive: var(--macosx-window-color);
		
		@media (prefers-color-scheme: dark) {
			// Titlebar
			--macosx-window-color: #434343;
			&:-moz-window-inactive {
				--macosx-window-color: #2c2d2f;
			}
		}
	}

	// Geckium You
	//TBD
}