&[windowtype="navigator:browser"] > body {
    border-radius: var(--titlebar-border-radius) var(--titlebar-border-radius) 0 0;
}

#navigator-toolbox,
#titlebar {
    background-color: var(--titlebar-active, var(--default-titlebar-active));
    background-image: var(--titlebar-texture, var(--default-titlebar-texture)) !important;
    &:-moz-window-inactive {
        background-image: var(--titlebar-texture-inactive, var(--default-titlebar-texture-inactive)) !important;
    }
    border-radius: 0 !important;
    border-top-left-radius: var(--titlebar-border-radius) !important;
    border-top-right-radius: var(--titlebar-border-radius) !important;
}
&[gkthemed][gkchrthemed] {
    --titlebar-texture: var(--chrtheme-frame, var(--default-titlebar-texture)) !important;
    --titlebar-texture-inactive: var(--chrtheme-frame-inactive, var(--chrtheme-frame, var(--default-titlebar-texture-inactive))) !important;

    #navigator-toolbox::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: var(--chrtheme-theme-frame-overlay) no-repeat, var(--chrtheme-theme-frame) repeat no-repeat !important;
    }
    &:-moz-window-inactive #navigator-toolbox::before {
        filter: contrast(.5) brightness(1.4);
    }
}

// TODO: Apply colours-only Firefox themes onto this surface
