@-moz-document url-prefix(about:preferences) {
	[data-l10n-id="applications-description"],
	#performanceGroup {
		
	}
	
	[data-l10n-id="download-header"] {
		font-size: 9pt !important;

	}
	
	#drmGroup {
		
	}
	
	[data-l10n-id="performance-use-recommended-settings-desc"] {
		
	}
	
	.updateSettingCrossUserWarningContainer {
		
		
		
	}
	
	#setDefaultPane {
		
	
		#isDefaultPane,
		#isNotDefaultPane {
			
		}
	}
	
	.subcategory {

	}
	
	#updateSettingCrossUserWarningDesc {
		
		
		

		
	}
	.info-icon {
		
		
		
		
		
		
	}
	
	.face-smile,
	.face-sad {
		
		
		
		
		
	}
	
	.face-smile::before {
		
		
		
		
		
		
		
	}
	.face-sad::before {
		
		
		
		
		
		
		
	}
	
	description,
	label:not(.sidebar-footer-label, .dialogTitle),
	[data-l10n-id="preferences-web-appearance-footer"] {
		
		font-size: 9pt !important;	
	}
	description {
		
	}
	
	[data-l10n-id="choose-browser-language-description"],
	[data-l10n-id="applications-description"] {
		
	}
	
	#downloadFolder {
		height: 24px !important;
		
		
		
		
		
		
		
		
		
		box-sizing: border-box;
	
		&:focus {
			
			
		}
	}
	#chooseFolder {
		margin-inline-start: 3px !important;
	}
	
	.accessory-button,
	menulist:not(.actionsMenu),
	.homepage-button,
	[data-l10n-id="update-checkForUpdatesButton"] {
		
	}
	
	.accessory-button {
		min-width: 0 !important;
	}
	
	.homepage-button {
		
	}
	
	listheader,
	richlistbox {
		
	}
	listheader {
		
		
	}
	richlistbox:not(#categories) {
		

	
		richlistitem[selected] {
			
			
		}
	
		.actionContainer {
			
		}
	}
	#label-box:not([native]) {
		
	}
	
	menupopup menuitem {
		&[selected] {
			
		}
	}
	
	.web-appearance-choice {
		
	}
}