& {
	
}

.tab-content {
	
}

.tab-close-button {
	
	
	
	mask-image: url(chrome://userchrome/content/assets/img/chrome-25/tabbar/tab_close_mask.png);
	
	
	

	&:hover {
		background-image: url(chrome://userchrome/content/assets/img/chrome-25/tabbar/tab_close_hover.png);
		
	}

	&:active {
		background-image: url(chrome://userchrome/content/assets/img/chrome-25/tabbar/tab_close_pressed.png);
		
		mask-image: none;
	}
}
