#window {
	width: 1160px;
	height: 710px;
}

.content {
	&:not([data-page-container]) {
		padding: var(--inner-padding);
	}
}

h4 {
	.about-flag {
		
		
		
		
		
		
		
		
		
		
		&:hover {
			
		}
		&::before {
			
			
			
			
			
			
			
		}
		.ripple {
			
		}
	}
}

.link {
	&.chrome-appearance {
		
		
		
		
		
		
		

		&:hover {
			
			
		}

		.ripple {
			
		}

		.wrapper {
			
			
			
		}

		.year {
			
			
			
			
			
			
			
			
			
			
			
		}

		.identifier {
			
			
			
			
			
			
			
			
			
			
			
			

			.radio {
				

				&:checked {
					&:not([disabled="true"]):hover + .gutter {
						
					}
					&:not([disabled="true"]):active + .gutter {
						
					}
				}
				
				&:not([disabled="true"]):hover + .gutter {
					
				}
				&:not([disabled="true"]):active + .gutter {
					
				}
			}
		}
	}
}

.people-picture {
	width: 58px;
	aspect-ratio: 1 / 1;
	align-items: center;
	justify-content: center;
	border-radius: 50%;

	&:not([disabled]) {
		cursor: pointer;
	}

	&.color {
		&.ripple-enabled {
			.ripple {
				background: color-mix(in srgb, var(--secondary-color, var(--primary-color)) 40%, transparent);
			}
		}
	}
}

.banner {
	position: relative;
	background: url('chrome://userchrome/content/windows/gflags/imgs/banner.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	list-style-image: url('chrome://userchrome/content/windows/gflags/imgs/logo.svg');
	fill: var(--secondary-color, var(--primary-color));
	-moz-context-properties: fill, fill-opacity;
	padding: var(--inner-padding);
	align-items: center;
	font-weight: 500;
	gap: 32px;

	> * {
		filter: drop-shadow(0px 1px 2px rgba(0,0,0,.5));
	}
}