& {
	&[lwtheme-id="firefox-alpenglow@mozilla.org"],
	&[lwtheme-id*="{"] {
		&:not([lwtheme-id*="#{$gtkplus}"]) {
			#logo_wordmark {
				
			}
		}
	}
}

#footer {
	#logo-img {
		
		
		
		


	}
	
	#logo_wordmark {
		
		
		
		
		
	}
}


// FIXME: Below code was removed by nabrious in the pre-MPL2 continuity

#footer {
	img {
		height: fit-content;
		width: fit-content;
		padding-block: 5px;
		padding-inline: 8px;
	}
}